.order-list {
	position: relative;
}

@media (max-width: 1920px) {
	.order-list img {
		width: 6rem;
		height: 6rem;
		border-radius: 50%;
		object-fit: cover;
	}
}

/* Add additional media queries as needed for different breakpoints */

@media (max-width: 1600px) {
	.order-list img {
		width: 5rem;
		height: 5rem;
	}
}

@media (max-width: 1200px) {
	.order-list img {
		width: 4rem;
		height: 4rem;
	}
}

/* Add more media queries for smaller breakpoints if necessary */
@media (max-width: 992px) {
	.order-list img {
		width: 3.5rem;
		height: 3.5rem;
	}
}

@media (max-width: 768px) {
	.order-list img {
		width: 3rem;
		height: 3rem;
	}
}

@media (max-width: 576px) {
	.order-list img {
		width: 2.5rem;
		height: 2.5rem;
	}
}
