.burger {
	position: relative;
}
.burger .card {
	/* height: 475px; */
	height: auto;
	margin-bottom: 20px;
	position: relative;
}
.burger .card img {
	min-height: 253px;
	height: auto;
	object-fit: cover;
}
/*================ Burger Details style ================ */
.burger-details {
	position: relative;
	overflow-x: hidden;
}

.burger-details img.left-img {
	width: 500px;
	height: 350px;
	object-fit: cover;
	outline: solid #f6f6f6 11px;
}

.burger-details button.btn-dark {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #333;
}
.burger-details .meal_btn {
	font-size: 13px;
}

.burger-details button i.fa-shopping-cart {
	font-size: 26px;
	text-align: center;
	left: 0;
	position: absolute;
	right: 0;
}
