.burger {
	position: relative;
}
.burger .card {
	/* height: 475px; */
	margin-bottom: 20px;
}
.burger .card img {
	min-height: 253px;
	object-fit: cover;
}
/*================ Burder Details style ================ */
.burger-details {
	position: relative;
	overflow-x: hidden;
}

.burger-details img.left-img {
	width: 500px;
	height: 350px;
	object-fit: cover;
	outline: solid #f6f6f6 11px;
}

/*============ Burger shopping cart style ============= */
.burger-shopping-cart {
	position: relative;
}

.burger-shopping-cart img.burger-in-cart {
	width: auto;
	height: auto;
}
