/*============ Burger shopping cart style ============= */
.burger-shopping-cart {
	position: relative;
}

.burger-shopping-cart img.burger-in-cart {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	object-fit: cover;
}

/* Small devices (up to 576px) */
@media (max-width: 576px) {
	.burger-shopping-cart img.burger-in-cart {
		height: 100px;
		width: 100px;
	}
}

/* Medium devices (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
	.burger-shopping-cart img.burger-in-cart {
		height: 120px;
		width: 120px;
	}
}

/* Large devices (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
	.burger-shopping-cart img.burger-in-cart {
		height: 130px;
		width: 130px;
	}
}

/* Extra-large devices (992px - 1200px) */
@media (min-width: 993px) and (max-width: 1200px) {
	.burger-shopping-cart img.burger-in-cart {
		height: 140px;
		width: 140px;
	}
}

/* XXL devices (1200px and above) */
@media (min-width: 1201px) {
	.burger-shopping-cart img.burger-in-cart {
		height: 150px;
		width: 150px;
	}
}
