body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
@media print {
	body {
		background-color: #fff !important;
		display: none !important;
	}
}
/* =========  Spinner style =================  */

.loading-template {
	position: relative;
	height: 50vh;
	width: auto;
}

.loading-template .spinner-border {
	width: 35px;
	height: 35px;
	animation: spin 2s linear infinite;
	color: #dddbdb;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
